---
import Checkmark from "@icons/checkmark-blue.svg";
---

<section class="section-dark">
    <div class="container">
        <h2>What Makes Apex Attics the Right Choice</h2>
        <div class="list">
            <div class="card">
                <Checkmark />
                <h3>Family Owned and Operated</h3>
                <p>
                    We’re a proud Central Coast business that treats every home
                    like our own. Our team shows up on time, communicates
                    clearly and works with care.
                </p>
            </div>

            <div class="card">
                <Checkmark />
                <h3>Fast, No-Pressure Quotes</h3>
                <p>
                    We offer free quotes and on-site assessments with no
                    obligation. We give you honest advice and let you decide
                    what suits your home best.
                </p>
            </div>

            <div class="card">
                <Checkmark />
                <h3>Same-Day Installation Available</h3>
                <p>
                    Want to get started right away? In many cases, we can
                    inspect and complete the attic conversion on the same day.
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .card {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        text-align: center;
    }
</style>
