---
import ContactForm from "../common/Contact_Form.astro";
---

<section>
    <div class="container">
        <h2>Get in Touch with the Central Coast Attic Storage Specialists</h2>

        <div class="form">
            <ContactForm />
        </div>

        <div class="contact-information">
            <div class="info-header">
                <h3>Rather Contact Us Directly?</h3>
                <p>
                    Get in touch via phone, email, or by submitting the form.
                    We’ll reply quickly with a clear quote, honest advice, and
                    answers to all your questions.
                </p>
            </div>

            <div class="info">
                <h4>Call us</h4>
                <a href="tel:">0424 808 378</a>
            </div>

            <div class="info">
                <h4>Send us an Email</h4>
                <a href="mailto:contact@apexattics.com"
                    >contact@apexattics.com</a
                >
            </div>
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .contact-information {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;
    }
    .info-header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h4 {
        margin-bottom: 1rem;
    }
    a {
        text-decoration: none;
        color: black;
    }

    @media (min-width: 768px) {
        h2 {
            grid-area: 1 / 1 / 2 / 3;
        }
        .form {
        }
        .contact-information {
            margin-top: 1rem;
        }
        .container {
            display: grid;
            grid-template-columns: 1fr 0.8fr;
            row-gap: 4rem;
        }
    }

    @media (min-width: 1024px) {
        .container {
            row-gap: 6rem;
            column-gap: 4rem;
        }
    }
</style>
