---
import { Image } from "astro:assets";
import Button from "../common/Button.astro";
import heroImage from "@images/apex-attics-central-coast-hero.png";
import PhoneIcon from "@icons/call-white.svg";
import MessageIcon from "@icons/contact-white.svg";
---

<header>
    <div class="container">
        <h1>Central Coast’s Trusted Attic Conversion Specialists</h1>
        <Image
            src={heroImage}
            alt="apex attics storage conversion central coast"
            class="hero-image"
        />
        <p>
            Maximise your living space without the expense of a storage unit.
            Our attic storage conversions offer a <strong>practical</strong> and
            <strong>budget-friendly solution</strong> for secure, accessible storage.
            Keep your belongings safe, enjoy easy access whenever you need, and boost
            the long-term value of your home.
        </p>
        <div class="cta-buttons">
            <Button type="secondary" href="tel:0424 808 378"
                ><PhoneIcon /> Call Us</Button
            >
            <Button type="primary" href="/contact-apex-attics/#contact-form"
                ><MessageIcon /> Get a quote</Button
            >
        </div>
    </div>
</header>

<style>
    header {
        background-color: var(--blue);
        color: white;
    }
    .hero-image {
        width: 90%;
        margin: 0px auto;
        height: auto;
    }
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    h1 {
        font-size: 2.25em;
        color: white;
    }

    .cta-buttons {
        display: flex;
        gap: 1rem;
    }

    @media (min-width: 768px) {
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 3rem;
        }
        h1 {
            grid-area: 1 / 1 / 2 / 4;
            font-size: 2.6em;
        }
        .container > p {
            grid-area: 2 / 1 / 3 / 2;
        }

        .cta-buttons {
            grid-area: 3 / 1 / 4 / 3;
            margin-top: auto;
        }
        .hero-image {
            grid-area: 2 / 2 / 4 / 4;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    @media (min-width: 1024px) {
        .container {
            row-gap: 4rem;
        }
    }

    @media (min-width: 1440px) {
        .hero-image {
            width: 80%;
        }
        h1 {
            font-size: 4em;
        }
    }
</style>
