---
import LocationPin from "@icons/location-pin-orange.svg";
import Button from "../common/Button.astro";
import PhoneIcon from "@icons/call-blue.svg";
import MessageIcon from "@icons/contact-white.svg";
---

<section class="section-dark">
    <div class="container">
        <h2>Areas We Service Across the Central Coast and Beyond</h2>
        <div class="list">
            <div class="card">
                <div class="card-head">
                    <LocationPin class="icon" />
                    <h3>Central Coast</h3>
                </div>
                <p>
                    Gosford, Terrigal, Erina, Wamberal, The Entrance, Bateau
                    Bay, Wyong, Tuggerah, Avoca Beach, Umina Beach, Woy Woy,
                    Toukley, Berkeley Vale, Long Jetty, and Lake Munmorah.
                </p>
            </div>

            <div class="card">
                <div class="card-head">
                    <LocationPin class="icon" />
                    <h3>Sydney</h3>
                </div>
                <p>
                    Northern Beaches, Inner West, Eastern Suburbs, North Shore.
                </p>
            </div>

            <div class="card">
                <div class="card-head">
                    <LocationPin class="icon" />
                    <h3>Southern Sydney</h3>
                </div>
                <p>
                    Sutherland, Miranda, Caringbah, Cronulla, Engadine,
                    Kirrawee, Gymea, and Menai.
                </p>
            </div>

            <div class="card">
                <div class="card-head">
                    <LocationPin class="icon" />
                    <h3>Western Sydney</h3>
                </div>
                <p>
                    Parramatta, Blacktown, Penrith, Mount Druitt, Campbelltown,
                    Liverpool, Fairfield, and Castle Hill.
                </p>
            </div>

            <div class="card">
                <div class="card-head">
                    <LocationPin class="icon" />
                    <h3>Newcastle & Lake Macquarie</h3>
                </div>
                <p>
                    Newcastle, Mayfield, Hamilton, Merewether, Charlestown,
                    Warners Bay, Belmont, Cardiff, and surrounding Lake
                    Macquarie areas.
                </p>
            </div>

            <div class="card">
                <div class="card-head">
                    <LocationPin class="icon" />
                    <h3>Wollongong & Illawarra</h3>
                </div>
                <p>
                    Wollongong, Shellharbour, Dapto, Corrimal, Figtree,
                    Thirroul, Bulli, and Albion Park.
                </p>
            </div>
        </div>

        <div class="cta">
            <p>
                If you're unsure whether we service your area, just reach out.
                We're always happy to confirm availability and discuss your
                project.
            </p>
            <div class="cta-buttons">
                <Button type="secondary-dark" href="tel:0424 808 378"
                    ><PhoneIcon /> Call Us</Button
                >
                <Button type="primary" href="/contact-apex-attics/#contact-form"
                    ><MessageIcon /> Get a quote</Button
                >
            </div>
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .card {
        padding: 1rem;
        background-color: white;
        box-shadow: var(--box-shadow);
        border: 2px solid var(--orange);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .card-head {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .cta {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .cta-buttons {
        display: flex;
        gap: 1rem;
    }

    @media (min-width: 768px) {
        h2 {
            text-align: center;
        }
        .container {
            gap: 4rem;
        }
        .list {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .cta {
            padding: 2rem;
            border-radius: 8px;
            box-shadow: var(--box-shadow);
            border: 2px solid white;
        }
    }

    @media (min-width: 1024px) {
        .card {
            padding: 2rem;
            gap: 2rem;
        }
        .icon {
            min-width: 30px;
        }
    }

    @media (min-width: 1440px) {
        .container {
            gap: 6rem;
        }
        .cta {
            width: 60%;
        }
    }
</style>
