---
import MessageIcon from "@icons/contact-white.svg";
import Button from "../common/Button.astro";
---

<section>
    <div class="container">
        <h2>Who We Are</h2>
        <p>
            Apex Attics is a family owned and operated business proudly serving
            homeowners across the Central Coast, from Wollongong to Newcastle
            and everywhere in between. With years of experience in home
            improvement, we’re passionate about helping local families get more
            from the homes they love.
        </p>
        <p>
            We specialise in converting unused attic space into safe, practical
            storage that’s built to last. Whether you need extra room for
            seasonal items or a long-term storage solution that doesn’t involve
            ongoing rental fees, we’re here to help you reclaim your space.
        </p>
        <p>
            Our experienced team is committed to quality workmanship and
            outstanding service. From your first quote to final clean-up, we
            provide honest advice, tailored recommendations and smooth project
            delivery. Every attic conversion is handled with care and precision.
        </p>
        <div class="cta-box">
            <p>
                If you’re ready to take advantage of the space above your
                ceiling, get in touch with Apex Attics today. We’ll guide you
                through the process and help you create secure storage that
                works for your home.
            </p>
            <Button type="primary" href="/contact-apex-attics/#contact-form"
                ><MessageIcon /> Contact Us</Button
            >
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .cta-box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: var(--box-shadow);
        color: white;
        background-color: var(--blue);
    }

    @media (min-width: 768px) {
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        h2 {
            grid-area: 1 / 1 / 2 / 3;
        }
    }

    @media (min-width: 1024px) {
        .container {
            gap: 4rem;
        }
    }

    @media (min-width: 1440px) {
        .container {
            column-gap: 6rem;
        }
    }
</style>
