---
import ContactForm from "../common/Contact_Form.astro";
---

<section class="section-dark">
    <div class="container">
        <h2>Get in Touch with Apex Attics</h2>
        <ContactForm />
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
</style>
