---
import { Image } from "astro:assets";
import carrot from "@icons/carrot.svg";

const { qaObject } = Astro.props;
---

<div class="faq">
    {
        qaObject.map((qa) => (
            <details>
                <span>{qa.a}</span>
                <summary>
                    {qa.q}
                    <Image src={carrot} alt="dropdown" class="carrot" />
                </summary>
            </details>
        ))
    }
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    section {
        background-color: var(--blue);
    }
    details {
        background-color: var(--blue);
        box-shadow: var(--box-shadow);
        color: white;
        padding: 1rem;
        border-top: 1px solid var(--blue);
        line-height: 2rem;
        border-radius: 8px;
    }
    summary {
        display: flex;
        justify-content: space-between;
        font-family: "heading";
        line-height: 1.3em;
    }
    details[open] summary {
        margin-bottom: 1rem;
    }
    details[open] summary img {
        transform: rotate(180deg);
    }
    .faq {
        display: flex;
        flex-direction: column;
        gap: 0.55rem;
    }
    .carrot {
        width: 16px;
        height: 16px;
    }
    @media (min-width: 768px) {
        details {
            padding: 1.6rem;
        }
    }

    @media (min-width: 1024px) {
        details {
            cursor: pointer;
            width: 60%;
            margin: 0px auto;
        }
    }
</style>
