---
import { Image } from "astro:assets";

const { icon, text, link } = Astro.props;
---

<a href={link}>
    {icon && <Image src={icon} alt={text} />}
    {text}
</a>

<style>
    a {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        width: fit-content;
        background-color: inherit;
        border: 1px solid black;
        padding: 0.5rem 0.75rem;
        height: fit-content;
    }
</style>
